body{
    background: #454D6B;
}

header{
    background-color: #6495ED;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 177px;
    margin-left: 20px;
}

button{
    width: 128px;
    height: 38px;
    margin-right: 20px;
    background: #5C5D8D;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ECF0F1;
    border: none;
}

.user img{
    width: 68px;
    height: 66px;
    margin-right: 9px;
}

.user p{
    width: 109px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 
               -1px -1px 0px #000000, 
               -1px 1px 0px #000000,                    
                1px -1px 0px #000000,                  
                1px 0px 0px #000000;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.createPost{
    display: flex;
    justify-content: center;
    margin: 40px 0 60px 0;
}

.createPost input{
    width: 381px;
    height: 108.98px;
    left: 20px;
    top: 122px;
    background: #ECF0F1;
    border-radius: 20px;
    border: none;
}

.createPost button{
    background: #5C5D8D;
    border-radius: 20px;
    width: 75px;
    height: 33px;
    color: #ECF0F1;
    position: absolute;
    top: 195.36px;
    right: 5px;
}

.posts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 20px;
}

.userLogado{
    background: #ECF0F1;
    border-radius: 20px;
    width: 381px;
    height: 364px;
}

.othersUsers{
    background: #ECF0F1;
    border-radius: 20px;
    width: 381px;
    height: 312px;
}

.usuarioPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0 16px 0;
}

.usuarioPost img{
    width: 69px;
    height: 69px;
}

.usuarioPost h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #030000;
}

.postContent{
    margin: 0 11px 28px 20px;
    color: #363457;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}

.date{
    margin-left: 148px;
    width: 102.7px;
    height: 18px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #363457;
}

.userEdit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13px;
    margin-top: 28px;
}

.userEdit img{
    width: 43.12px;
    height: 42px;
}

.userEdit img:first-child{
    height: 46px;
    width: 48.27px;
}

::-webkit-input-placeholder{ 
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #363457;
    padding-left: 20px;
 }


 @media (min-width: 1024px){
    .user{
        width: 300px;
        margin-left: 128px;
    }
    .user p{
        width: 160px;
        overflow: visible;
    }

    button{
        width: 152px;
        margin-right: 128px;
    }

    .createPost{
        margin: 74px 0 98px 0;
    }

    .createPost input{
        width: 746px;
        height: 127px;
    }

    .createPost button::before{
        content: "Postar";
    }

    .userLogado, .othersUsers{
        width: 746px;
        height: 231px;
    }
 }